html,body{
  height: 100%;
}

.left{
  width: 180px;
  height: 100%;
  background-color:RGB(34,45,50);
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  transition: left 1s;
}
.left.hidemenu{
  left: -180px;
}
.left .title{
  height: 50px;
  background-color: RGB(54,127,169);
  color: white;
  text-align: center;
  line-height: 50px;
  font-size:23px;
}
.left .pic{
  text-align: center;
  padding-top: 30px;
}
.left .pic img{
  width: 80px;
  height: 80px;
  border-radius:50%; 
  margin-bottom: 15px;
}
.left .pic p{
  color: white;
  font-size: 18px;
}

/* 导航区域 */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.left .nav{
  padding-top: 30px;
}

.left .nav a{
  color:white; 
  display: block;
  line-height: 40px;
  padding-left: 50px;
  border-left: 3px solid transparent;
}
.left .nav a.active{
  border-left: 3px solid RGB(0,102,153);
}
.left .nav a i{
  margin-right: 5px;
}
.left .nav .second{
  padding-left: 69px;
}
.active{
  background-color: RGB(29,31,33);
}

/* 右侧部分 */
.right{
  height: 2000px;
  padding-left: 180px;
  padding-top: 50px;
  transition: all 1s;
  width: 100%;
}
.right.hidemenu{
  padding-left: 0px;
}


.right .top{
  height: 50px;
  background-color: RGB(60,141,188);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding-left: 180px;
  transition: all 1s;
  z-index: 100;
}
.right .top.hidemenu{
  padding-left: 0px;
}

.right .top a{
display: block;
color: #fff;
width: 50px;
height: 50px;
text-align: center;
line-height: 50px;
font-size: 18px;
}
.right .breadcrumb{
  margin-top: 20px;
}
.right .breadcrumb li{
  color: RGB(119,119,119);
}
.modal .modal-body p {
  color: red;
}

.right .tableBox{
  padding: 0 20px;
}

.table.table-bordered th,
.table.table-bordered td{
  text-align: center;
  vertical-align: middle;
}

.right .table-Box{
  padding: 0 20px;
}
.right button{
  margin-bottom: 20px;
}

.right .table-Box img{
  width: 97px;
  height: 50px;
}

.img-box img{
  width: 100px;
  height: 57px;
}